@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::selection {
    @apply bg-primary text-bg-1;
  }
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  @apply text-text-1;
}

html {
  color-scheme: dark;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .align-center {
    text-align: center;
  }
}

.perfect-scrollbar {
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #202020;
    cursor: pointer;
  }
}
//navigation

.burger {
  width: 100%;
  &::after,
  &::before {
    content: '';
    display: block;
    height: 2px;
    width: 40%;
    margin: auto;
    background-color: #202020;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}
